@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

/* Styling */
@layer components {
  /* Typography */
  .text-heading {
    @apply text-2xl font-semibold;
  }
  .text-heading-2 {
    @apply text-xl font-semibold;
  }
  .text-subtext {
    @apply text-sm;
  }
  .text-smallest {
    @apply text-xs font-medium;
  }

  /* Styling */
  .text-gray {
    @apply text-black text-opacity-[35%]
  }
}

.bg-primary-gradient {
  background: 
    linear-gradient(
      0deg, rgba(116, 85, 247, 0.75), rgba(116, 85, 247, 0.75)), 
    linear-gradient(
      114.58deg, rgba(228, 221, 253, 0.51) 5.27%, #C4B7FB 23.83%, #7455F7 71.44%);
}

.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.no-scroll::-webkit-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  display: none;
}

.no-scroll {
  /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}